# APP CONFIGURATION
APP_NAME="Orquestador RUNT API"
VERSION=1.2.0
APP_ENV=dev

# PERFORMANCE & PROCESSING
TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe
DB_THREAD_WORKERS=5
BATCH_SIZE=5

# LOGGING
LOG_DIR=logs
LOG_LEVEL=INFO
LOG_RETENTION_DAYS=4

# RUNT API BASE URLS
RUNT_VEHICULO_API_BASE=https://runtproapi.runt.gov.co/CYRConsultaVehiculoMS
RUNT_CIUDADANO_API_BASE=https://runtproapi.runt.gov.co/CYRConsultaCiudadanoMS

# SIMIT API BASE URLS
SIMIT_API_BASE=https://consultasimit.fcm.org.co/simit/microservices/estado-cuenta-simit
SIMIT_CAPTCHA_API=https://qxcaptcha.fcm.org.co/api.php

# JWT & AUTH
JWT_SECRET_KEY=GaneRedcolsaApi-2024*
JWT_ALGORITHM=HS512
SCREEN_ID_INDIVIDUAL=71
SCREEN_ID_MASIVA=74
